[tool.poetry]
name = "cookiecutter-nautobot-app"
version = "1.0.0"
description = "Cookiecutter template for baking Nautobot App cookies."
authors = ["Network to Code, LLC <info@networktocode.com>"]
readme = "README.md"
repository = "https://github.com/nautobot/cookiecutter-nautobot-app"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.dependencies]
cookiecutter = "^2.3.0"
python = "^3.8"

[tool.poetry.dev-dependencies]
bandit = "*"
black = "*"
invoke = "*"
isort = "*"
pylint = "*"
pytest = "*"
pytest-cookies = "*"
python-dotenv = "*"
ruff = "*"
toml = "*"
yamllint = "*"

[tool.black]
line-length = 120
target-version = ['py38']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | settings.py     # This is where you define files that should not be stylized by black
                     # the root of the project
)
'''

[tool.pylint.master]
ignore=".venv"

[tool.pylint.basic]
# No docstrings required for private methods (Pylint default), or for test_ functions, or for inner Meta classes.
no-docstring-rgx="^(_|test_|Meta$)"

[tool.pylint.messages_control]
# Line length is enforced by Black, so pylint doesn't need to check it.
# Pylint and Black disagree about how to format multi-line arrays; Black wins.
disable = """,
    line-too-long,
    """

[tool.pylint.miscellaneous]
# Don't flag TODO as a failure, let us commit with things that still need to be done in the code
notes = """,
    FIXME,
    XXX,
    """

[tool.ruff]
line-length = 120

[tool.pytest.ini_options]
testpaths = [
    "tests"
]
