---
name: "CI"
concurrency:  # Cancel any existing runs of this workflow for this same PR
  group: "{% raw %}${{ github.workflow }}-${{ github.ref }}{% endraw %}"
  cancel-in-progress: true
on: # yamllint disable-line rule:truthy rule:comments
  push:
    branches:
      - "main"
      - "develop"
    tags:
      - "v*"
  pull_request: ~

jobs:
  qa:
    runs-on: "ubuntu-22.04"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Setup environment"
        uses: "networktocode/gh-action-setup-poetry-environment@v6"
        with:
          poetry-version: "1.8.5"
      - name: "Linting: ruff"
        run: "poetry run invoke ruff"
      - name: "Linting: yamllint"
        run: "poetry run invoke yamllint"
      - name: "Linting: pylint"
        run: "poetry run invoke pylint"
      - name: "Docs: mkdocs build check"
        run: "poetry run invoke build-and-check-docs"
      - name: "Testing: poetry lock"
        run: "poetry run invoke lock --check"
      - name: "Testing: unittest"
        run: "poetry run invoke unittest"
