---
name: "Rebake Tag"
on:  # yamllint disable-line rule:truthy
  push:
    tags:
      - "nautobot-app-v2.*"
jobs:
  rebake:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Call rebake workflow in cookiecutter-nautobot-app-drift-manager"
        run: "gh workflow run rebake-workflow.yml -R nautobot/cookiecutter-nautobot-app-drift-manager -f tag=${{ github.ref_name }} -f branch=ltm-2.4"
        env:
          GH_TOKEN: "${{ secrets.GH_NAUTOBOT_BOT_TOKEN }}"
